<html lang="es">
    <head>
            <title>Nuevo pais</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/static/tln.min.css"/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="/static/prueba_js.js"></script>
            <!-- Chosen -->
            <link href='/static/chosen-js/chosen.min.css' rel='stylesheet' type='text/css'>
            <script src='/static/chosen-js/chosen.jquery.min.js' type='text/javascript'></script>

            <style>    
              /* Set black background color, white text and some padding */
              nav {
                background-color: #555;
              }
          
              footer {
                background-color: #555;
                color: white;
                padding: 15px;
              }
              table {
                border-collapse: collapse;
                width: 100%;
               }

               th, td {
                text-align: left;
                padding: 8px;
               }

                tr:nth-child(even) {background-color: #f2f2f2;}
            </style>
    </head>
    
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="/">BD2</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">Ingresar
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/nPate">Patentes</a></li>
                                <li><a href="/nCola">Colaboradores</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">Listar inventos
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/lPais">Por pais</a></li>
                                <li><a href="/lInve">Por inventor</a></li>
                                <li><a href="/lArea">Por area</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="container-1" align="center">
            <h3> Crear registro de pais </h3>
            <form action="/nuevoPais" method="POST" enctype="application/json">
                <div>
                    <label>Nombre</label>
                    <input type="text" id="name" name="name">
                </div>
                <div>
                    <label>Alpha2 code</label>
                    <input type="text" id="a2c" name="a2c">
                </div>
                <div>
                    <label>Alpha3 code</label>
                    <input type="text" id="a3c" name="a3c">
                </div>
                <div>
                    <label>Fronteras</label>
                    <!-- multiple dropdown -->
                    <select id="borders" name="borders" class="chosen" multiple="true" style="width:100px;">
                        <% for(var i=0; i< valores.length; i++){ %>
                            <option value="<%= valores[i].a3c %>"><%= valores[i].nombrePais %></option>
                        <% } %>
                    </select>
                </div>
                <input type="submit" id="btnCrear" value="Crear">
            </form>

            <label><%= consola %> </label>
        </div>

        <script>
            jQuery(document).ready(function(){
                jQuery(".chosen").data("placeholder","Seleccionar fronteras...").chosen();
            });
        </script>
    </body>
</html>